@page "/Alvenaria/Alvenaria"

<div class="card">
    
    <label>Informe em m2 o tamanho das paredes:</label>
    <inputNumber id="TamanhoParede"  ></inputNumber>

    <label>Informe as dimensoes do bloco:</label>
    <label>Altura do bloco:</label>
    <inputNumber id = "AlturaBloco"  ></inputNumber>
    <label>Largura do bloco:</label>
    <inputNumber id = "LarguraBloco"  ></inputNumber>
    <label>Profundidade bloco:</label>
    <inputNumber id = "ProfundidadeBloco"  ></inputNumber>

    <label>Informe o número de pilares:</label>
    <inputNumber id = "Quantidade pilares"  ></inputNumber>

    <label>Informe as dimensoes dos pilares:</label>
    <label>Altura do pilar:</label>
    <inputNumber id = "AlturaPilar"  ></inputNumber>
    <label>Largura do pilar:</label>
    <inputNumber id = "LarguraPilar"  ></inputNumber>
    <label>Profundidade Pilar:</label>
    <inputNumber id = "ProfundidadePilar"  ></inputNumber>

    <label>Data de previsao de entrega:</label>
    <inputNumber id = "PrevisaoEntregaAlvenaria"  ></inputNumber>

</div>