@page "/Cobertura"

<div class="card">
    
    <label>Informe em m2 a área a ser coberta	:</label>
    <inputNumber id="TamanhoCobertura"  ></inputNumber>

    <label>Cobertura possui laje</label>
    <inputNumber id = "PossuiLaje"  ></inputNumber>

    <label>Informe espessura da laje	:</label>
    <inputNumber id = "EspessuraLaje"  ></inputNumber>

    <label>Data de previsao de entrega:</label>
    <inputNumber id = "PrevisaoEntregaCobertura"  ></inputNumber>

</div>