@page "/Eletrica"

<div class="card">
    
    <label>Informe o número de disjuntores	:</label>
    <inputNumber id="QuantidadeDisjuntores"  ></inputNumber>

    <label>Informe o número de tomadas</label>
    <inputNumber id = "QuantidadeTomada"  ></inputNumber>

    <label>Informe o número de interruptores:</label>
    <inputNumber id = "QuantidadeInterruptores"  ></inputNumber>

    <label>Informe o número de lâmpadas:</label>
    <inputNumber id = "QuantidadeLampadas"  ></inputNumber>

    <label>Data de previsao de entrega:</label>
    <inputNumber id = "PrevisaoEntregaEletrica"  ></inputNumber>

</div>