@page "/Hidraulica"

<div class="card">
    
    <label>Informe o número de torneiras:</label>
    <inputNumber id = "Quantidadetorneiras"  ></inputNumber>

    <label>Informe o número de chuveiros:</label>
    <inputNumber id = "QuantidadeChuveiros"  ></inputNumber>

    <label>Informe o número de saídas para esgoto:</label>
    <inputNumber id = "QuantidadeSaidasEsgoto"  ></inputNumber>

    <label>Data de previsao de entrega:</label>
    <inputNumber id = "PrevisaoEntregaAlvenaria"  ></inputNumber>

</div>